[2020-05-22 20:55] michaelsena opened #1 "Discussion: Ceramic Improvement Proposals (CIP)"
---
cip:
title: Ceramic Improvement Proposals (CIP)
author: Michael Sena (http://github.com/michaelsena)
discussions-to:
status: Last Call
category: Meta
type:
created: 2020-05-22
requires:
replaces:
---

## Simple Summary

This proposal describes the process for Ceramic Improvement Proposals (CIPs).

## Abstract

Ceramic Improvement Proposals (CIPs) are standards for improving the Ceramic platfor

[2020-05-22 21:03] michaelsena opened #2 "Support ethr-did resolver"
[code]

## Simple Summary

This CIP proposes adding support for the ethr-did reslover to Ceramic. This would allow Ceramic documents to be created and managed with DIDs that conform to ethr-did method.

## Abstract

## Motivation

**Multi-DID support**: As Ceramic aims to be a DID-agnostic protocol, it should have the ability to resolve more DID signatures than just 3IDs. Ethr DID is a standard th

[2020-05-22 21:13] michaelsena opened #3 "Discussion: Identity Index (IDX)"
Discussion for CIP-11: Identity Index (IDX)

See PR https://github.com/ceramicnetwork/CIP/pull/65 for the updated spec.

[2020-05-22 21:18] michaelsena opened #4 "DID Provider"
[code]

## Simple Summary

**DID Provider** describes a standard JSON RPC interface for interacting with DIDs.

[2020-05-22 21:35] michaelsena opened #5 "Claim Doctype"
[code]

## Simple Summary

This CIP specifies a **Claim Doctype** which can be used for creating W3C-compliant verifiable claims as Ceramic documents.

## Abstract

## Motivation

**Claims should be *issued to a DID*.**

Claims assert one or more statements about an individual or organization, not a specific account. For this reason, claims should be issued to a DID. By issuing claims to a DID, th

[2020-05-22 21:45] michaelsena opened #6 "3ID Doctype"
[code]

## Simple Summary

This CIP describes the `3id` doctype which is used to create DID documents. The [DID standard](https://w3c.github.io/did-core) provides a general format for verifiable decentralized digital  identities. Given a specific DID string, a DID document which contains  public keys, authentication authorization, etc. can be  resolved.

## Abstract

The `3id` doctype allows DIDs

[2020-05-22 21:48] michaelsena opened #7 "Service Definition"
[code]

## Simple Summary

**Service Definition** specifies a document which describes a service.

## Abstract

A Service Definition document allows service providers to describe their microservice in a way that makes it easily discoverable and consumable by others. This is especially useful when thinking about services in the context of a user-centric web, where applications may need to interact

[2020-05-22 21:51] michaelsena opened #8 "Collection Definition"
[code]

## Simple Summary

This CIP specifies a **Collection Definition** which is a document created by a developer to describe the generic data model for their application's user data.

## Abstract

Collection Definitions are created by developers to describe the user data model of their application in a public and transparent way. Collection Definitions include collections of stores which confo

[2020-05-22 21:52] michaelsena opened #9 "Tile Doctype"
This has been replaced by a new version of the same proposal. Here is the new [Tile Doctype (CIP-8)](https://github.com/ceramicnetwork/CIP/issues/56).

[2020-05-22 21:54] michaelsena opened #10 "Collection Reference"
[code]

## Simple Summary

This CIP describes a **Collection Reference**, which contains user-specific information about the data stores defined in a given [Collection Definition (CIP-28)](https://github.com/ceramicnetwork/CIP/issues/8).

## Abstract

The Collection Reference contains user-specific information about data stores defined in a given [Collection Definition (CIP-28)](https://github.com

[2020-05-22 21:57] michaelsena opened #11 "CRC: MetaSchema"
### Deprecated and closed

[2020-05-22 21:58] michaelsena opened #12 "Profiles Index"
[code]

## Simple Summary

**Profiles Index** is a document that stores an index of a DID's profiles.

## Abstract

For DIDs to be usable in the context of consumer applications they often need to support public metadata such as profiles. Over time users (or applications) may desire to create multiple profiles (i.e. personas). Examples of this might include a basic profile, work profile, education

[2020-05-22 21:59] michaelsena opened #13 "Keychains Index"
[code]

## Simple Summary

**Keychains Index** is a document that stores mappings to a DID's various keychains.

## Abstract

Decentralized identifiers (DIDs) have a set of keys (i.e. management, signing, encryption, etc) that are controlled by a seed. However, sometimes it is desirable to use other keys for authenticating or performing other actions. Examples of this might include using crypto ke

[2020-05-22 22:00] michaelsena opened #14 "Accounts Index"
[code]

## Simple Summary

**Accounts Index** stores a list of documents that contain information about a DID's publicly linked accounts.

## Abstract

Oftentimes users want to publicly associate various identities from external services to their DID in order to prove to others that all are owned by the same person or entity. These identities can include blockchain accounts and/or contracts, other

[2020-05-22 22:01] michaelsena opened #15 "Discussion: CAIP-10 Link Doctype"
Discussion for [CIP-7](https://github.com/ceramicnetwork/CIP/blob/master/CIPs/CIP-7/CIP-7.md).

[2020-05-22 22:07] michaelsena opened #16 "CRC: Claims Document"
---
Title: Claims Document
Author: Michael Sena <michael@ceramic.network>, Joel Thorstensson <joel@ceramic.network>
Type: Standards
Category: CRC
Status: Idea
Created: 2020-05-23
---

## Simple Summary

The claims document stores links to various [claim documents (CIP-)](https://github.com/ceramicnetwork/CIP/issues/5) issued to the DID. The claims document simply acts as a routing mechanism to tho

[2020-05-22 22:08] michaelsena opened #17 "Connections Index"
[code]

## Simple Summary

**Connections Index** simply stores links to other documents that contain various aspects of a DID's social graph.

## Abstract

Connections are an important aspect of one's identity and can take many forms such as follows lists, friends, contacts, family, etc. In a user-centric model, this information should be controlled by a user and portable across applications. This

[2020-05-22 22:09] michaelsena opened #18 "Data Interoperability Protocol (DIP)"
[code]

## Simple Summary

**Data Interoperability Protocol (DIP)** is a standard framework for creating a DID-centric index of data collections that exist across all decentralized networks and centralized servers.

## Abstract

DIP is an extension of the [Identity Index Protocol (IIP) (CIP-11)](https://github.com/ceramicnetwork/CIP/issues/3) that describes how to add data to a [Collections Index

[2020-05-22 22:10] michaelsena opened #19 "Services Index"
[code]

## Simple Summary

**Services Index** stores a list of documents which contain information about a DID's preferred services, such as notifications or backup.

## Abstract

Add more detail here.

Services Index is a subdirectory of the [Identity Index (IDX) (CIP-11)](https://github.com/ceramicnetwork/CIP/issues/3) and is often linked from the [Root Index (CIP-12)](https://github.com/ceramic

[2020-05-22 22:24] michaelsena opened #20 "Anchor Service"
[code]

## Simple Summary

An **anchor service** is a layer 2 service used by a Ceramic node to batch multiple signed records (document updates) and anchor them into a blockchain using a single transaction.

## Abstract

Anchor services are not explicitly required by the protocol and users can always directly anchor their own transactions in a blockchain one at a time.

## Motivation

Anchor servi

[2020-05-22 22:31] michaelsena opened #21 "Root Index"
[code]

## Simple Summary

**Root Index** is a document that acts as the root directory for a DID's resources.

## Abstract

In an identity-centric model of development, users carry their identifier and resources with them across various contexts. Applications then use with these resources to provide service to the user. However in order to access resources, applications need an easy way to find t

[2020-05-22 22:35] michaelsena opened #22 "Advanced Queries"
[code]

## Simple Summary

**Advanced queries** allows users to query along known paths of linked documents without needing to query one at a time.

[2020-05-22 22:38] michaelsena opened #23 "Sharded Pubsub"
[code]

[2020-05-23 01:29] michaelsena opened #24 "Follows List"
[code]

## Simple Summary

**Follows List** contains a list of DIDs that a DID is following.

## Abstract

The follows list aims to provide permissionless, platform-agnostic storage for a list of DIDs followed by this DID.

## Motivation

Follows are often a critical aspect of identity on many digital platforms. The follows list provides a unified social graph that can be shared across platforms,

[2020-05-23 02:52] michaelsena opened #25 "Contacts List"
[code]

## Simple Summary

**Contacts List** stores a list of contacts for a DID.

[2020-05-23 18:15] michaelsena opened #26 "Collections Index"
[code]

## Simple Summary

**Collections Index** is a document that stores a list of a DID's data collections.

## Abstract

Collections Index provides a single place to associate various data collections to a DID. Individual collections can reference data that exists in a number of places from centralized servers (databases), to decentralized networks (i.e. Ceramic, Filecoin, Arweave, Textile, 3B

[2020-05-23 21:23] michaelsena opened #27 "[Deprecated] Schema Document"
This has been deprecated, since it seems unnecessary to validate the format of schema documents.

[2020-05-24 04:16] michaelsena opened #28 "[Deprecated] Sources Authorization Document"
This has been deprecated in favor of the more general [Access Control Document](https://github.com/ceramicnetwork/CIP/issues/48).

[2020-05-25 18:32] michaelsena opened #29 "Work Profile"
[code]

## Simple Summary

**Work profile** contains the work profile of a DID.

## Abstract

Add better description.

Work Profile is usually linked from a [Profiles Index (CIP-13)](https://github.com/ceramicnetwork/CIP/issues/12) document.

## Motivation

## Specification

`name`:

`image`:

`description`:

`duns`: The Dun & Bradstreet DUNS number for identifying an organization or business pers

[2020-05-25 18:34] michaelsena opened #30 "Family List"
[code]

## Simple Summary

**Family List** contains information about a DID's family members, such as siblings, spouse, children, etc.

## Abstract

Insert better description.

The Family List is often linked from a [Connections Index (CIP-18](https://github.com/ceramicnetwork/CIP/issues/17).

## Motivation

Family is a common aspect of one's identity.

## Specification
The Family List specificati

[2020-05-26 11:59] michaelsena opened #31 "Education Profile"
[code]

## Simple Summary

**Education Profile** contains the education profile of a DID.

## Abstract

Add description.

Education Profile is usually linked from a [Profiles Index (CIP-13)](https://github.com/ceramicnetwork/CIP/issues/12).

## Motivation

## Specification

The Education Profile specification consists of a doctype, schema, and tags.

### Doctype

Education Profile is a [Tile Docty

[2020-05-26 23:46] michaelsena opened #32 "Discussion: Basic Profile Definition"
Discussion for CIP-19: Basic Profile Definition.
Up to date spec in PR https://github.com/ceramicnetwork/CIP/pull/66

[2020-05-27 00:50] michaelsena opened #33 "Discussion 3ID Keychain"
Discussion for CIP-20
See PR for most up to date version: https://github.com/ceramicnetwork/CIP/pull/68

[2020-05-27 01:56] michaelsena opened #34 "Collection Authorization Document"
This has been deprecated in favor of the more general [Access Control Document](https://github.com/ceramicnetwork/CIP/issues/48).

[2020-05-27 03:43] michaelsena opened #35 "CRC: User-Centric Service Standard (USS)"
---
Title: User-Centric Service Standard
Author: Michael Sena <michael@ceramic.network>, Joel Thorstensson <joel@ceramic.network>
Type: Standards
Category: CRC
Status: Idea
Created: 2020-05-26
---

## Simple Summary

The User-Centric Service Standard (UCSS) is a way to provide DIDs with user-centric web services, such as notifications.

## Abstract

## Motivation

## Definitions

`did`:

`account`

[2020-05-27 12:46] #35 closed, assigned to nobody

[2020-06-01 14:00] michaelsena opened #36 "Versioned Doctypes"
This has been deprecated because it is no longer needed.

[2020-06-02 14:04] michaelsena opened #37 "Core: Doctype specification"
---
---

## Simple Summary

A specification for how doctypes standards should be specified.

## Abstract

Doctypes are the core rulesets of the Ceramic Network which specify various elements such as state transition rules and content for documents. This proposal specifies a standard way to define doctypes.

## Motivation

**There is a need for *standard doctypes*.**

Every document on the Ceramic

[2020-06-08 09:03] oed opened #38 "Ceramic Javascript API"
[code]

## Simple Summary

This CIP describes the javascript api that is implemented by both `ceramic-core` and `ceramic-http-client`. It provides a common interface for interacting with the ceramic network.

## Abstract

This CIP provides a standard javascript interface for ceramic that allows developers to interact with a Ceramic instance. The interface includes abstractions that allow developer

[2020-06-08 09:47] simonovic86 commented on #38
Should we define the `version` field or similar and expose it in the APIs interface? If we introduce some feature in the future which can possibly break the backward compatibility we should be able to detect API versions.

[2020-06-08 09:59] oed commented on #38
@simonovic86 Hm, what version would be returned from this? The version of the api itself? My concern with this is that it might be confusing since the `ceramic-core` version will likely differ from the `ceramic-http-client` version.
Or would the version field simply say something like `ceramic-core@x.x.x` or `ceramic-http-client@x.x.x`?

[2020-06-08 10:12] simonovic86 commented on #38
@oed I thought about the API version therefore I think its `ceramic-http-client`.

I think it's ok for `ceramic-core` version to differ from the `ceramic-http-client` version. I guess that API versions will progress slower than the core. Does that make sense?

[2020-06-08 11:56] oed commented on #38
I'm not sure. They might change either way. Isn't it enough that the packages have versions though? It would be weird if `ceramic-core` exposes the version of the http client right?

[2020-06-08 12:04] simonovic86 commented on #38
Makes sense. I think it's enough, too 👍

[2020-06-11 23:47] michaelsena commented on #1
Just finished a draft of a CIP that proposes the CIP process. Pinging @oed @dazuck @pedrouid etc for feedback.

[2020-06-12 13:44] oed commented on #1
Looks good @michaelsena 👍

[2020-06-12 17:14] michaelsena commented on #38
@simonovic86 would be good to circle back and rewrite this Draft after you've dug through the code :)

[2020-06-12 17:16] simonovic86 commented on #38
@michaelsena definitely! I'll write a detailed feedback after I run more tests :)

[2020-06-12 18:27] dazuck commented on #1
agree 👍

[2020-06-13 14:12] simonovic86 commented on #38
These are the changes based on the first _draft-0_ implementation of the proposed API. Let's reiterate more through it.

The `Doctype` interface should include the document ID since we are depending on it in the API. With that said, the minimal `Doctype` interface should look like this:

[code]

There are situations where we need to sign the genesis record on document creation before applying it (

[2020-06-13 16:12] oed commented on #38
Thanks @simonovic86 that all makes sense.
About `CeramicApi`: I still think we need the `new` method (maybe called something else). If we don't have that there is no good way to construct new documents without having to create the genesis-record.

I assume `InitOpts` will likely change quite often adding new options so I didn't bother defining it.

[2020-06-14 15:43] michaelsena opened #39 "Meta: Ceramic Community Discord"
---
cip: <to be assigned>
title: Meta: Ceramic Community Discord
author: Michael Sena (@michaelsena)
discussions-to:
status: Draft
category: Meta
type: RFC
created: 2020-06-14
requires:
replaces:
---

## Simple Summary

This proposes a Discord server for the Ceramic network community.

## Abstract

The Ceramic community needs a place where people can join to discuss things related to Ceramic

## M

[2020-06-14 16:00] michaelsena opened #40 "Meta: Ceramic Ecosystem Alliance (CEA)"
---
cip: <to be assigned>
title: Meta: Ceramic Ecosystem Alliance (CEA)
author: Michael Sena (@michaelsena)
discussions-to:
status: Draft
category: Meta
type:
created: 2020-06-14
requires:
replaces:
---

## Simple Summary

The Ceramic Ecosystem Alliance (CEA) allows members to self-organize into working groups to discuss important topics related to Ceramic and produce outputs (normally in the form

[2020-06-14 16:02] michaelsena commented on #1
Okay, moving this from DRAFT to LAST CALL.

[2020-06-14 16:07] michaelsena commented on #40
@oed @dazuck Here is a CIP for the creation of the CEA. Need to update some links, but this is the general structure. Thoughts?

[2020-06-14 17:35] simonovic86 commented on #38
Makes sense. Let's keep the `new` method in the Ceramic API.

I totally agree for the `InitOpts`. We will definitely change it a bunch of times. That said, we don't need to define it now :)

[2020-06-15 20:41] michaelsena opened #41 "RFC: Work History Document"
---
cip:
title: RFC: Work History Document
author: Michael Sena (@michaelsena)
discussions-to:
status: Idea
category: Standards
type: RFC
created: 2020-06-15
requires:
replaces:
---

---
Title: Work Profile Document
Author: Michael Sena <michael@ceramic.network>, Joel Thorstensson <joel@ceramic.network>
Type: Standards
Category: CRC
Status: Idea
Created: 2020-05-25
---

## Simple Summary

The work

[2020-06-15 21:04] michaelsena opened #42 "RFC: Education History Document"
---
cip:
title: Education History Document
author: Michael Sena (@michaelsena)
discussions-to:
status: Idea
category: Standards
type: RFC
created: 2020-06-15
requires:
replaces:
---

## Simple Summary
The education history document contains the education history of a DID.

## Abstract

## Motivation

## Specification

### Definitions

`institution`

`degree`

`focus`

`startDate`

`endDate`

`clai

[2020-06-15 21:27] michaelsena opened #43 "Social Account Links"
[code]

## Simple Summary

**Social Account Links** stores a list of a DID's linked social accounts.

## Abstract

Oftentimes users may want to publicly associate various identities from social applications to their DID in order to prove to others that all are owned by the same person or entity. This could include Twitter, Github, Discord, Matrix and other similar services. Collectively these acco

[2020-06-15 22:52] michaelsena opened #44 "RFC: Identity Claims Document"
---
cip:
title: Identity Claims Document
author: Michael Sena (@michaelsena)
discussions-to:
status: Idea
category: Standards
type: RFC
created: 2020-06-15
requires:
replaces:
---

## Simple Summary

A document that stores links to various claim documents that make statements about a DID's identity.

## Abstract

## Motivation

## Specification

### Document

Doctype: Tile

### Definitions

`provi

[2020-06-24 14:28] oed commented on #38
Updated this according to our discussions and your implementation @simonovic86 👍

[2020-06-24 22:42] dazuck commented on #12
Might want to call out what a profile is _not_ -- aka it's not a verified identity or links to others -- this is self-attested info and as you say can have multiple profiles.

[2020-06-24 22:43] dazuck commented on #12
Also may want to call out how we suggest/envision apps use this? Aka if a profile already exists, just use that. If they need custom, extend (rather than duplicate)

[2020-06-25 16:06] oed commented on #12
Schema for this document that allows any property:
[code]

Looks like you have some formatting issues with "```json" btw.

[2020-06-25 16:07] oed commented on #21
Suggested schema:
[code]

[2020-07-01 09:33] oed commented on #37
@michaelsena Did an edit of your original outline adding a lot of details. ☝️

[2020-07-01 13:55] michaelsena commented on #37
@oed some thoughts:

- It might be good to have an array of `tags` instead of just one, and I can imagine developers wanting to add their appName (or something similar) along with some other categorical information.
- Might we want to include `tags` as an optional property of signed records? This would allow tags to be added after genesis, either adding a tag if it has none, or adding new tags for

[2020-07-01 20:00] michaelsena commented on #43
@oed your eyes would be nice here, particularly on how we describe Oauth accounts. Currently I'm defining this document as an array of JSON objects containing `name`, `namespace`, and an array of `proof`. Alterntively, we could try to do something similar to CAIP standards where we use name@namespace as the key and proof as the value.

Thoughts?

Also if you can create the schema and the example f

[2020-07-01 20:17] michaelsena commented on #27
@oed would be nice to have you on this one. It's meant to define a schema document.

[2020-07-01 20:26] michaelsena opened #48 "Access Control Document"
[code]

## Simple Summary

The **Access Control Document** provides an access control module that can be used to add privacy features to any Ceramic document.

## Abstract

Abstract goes here.

## Motivation

Motivation goes here.

## Specification

Specification goes here.

## Rationale

Rationale goes here.

## Backwards Compatibility

Backwards compatibility goes here.

## Implementation

Imple

[2020-07-01 20:29] michaelsena commented on #48
@oed I think we should make `accessControl` an optional meta property (alongside owners, schema, tags, etc) of a document included in the general Doctype specification (both genesis and signed). This would allow users to plug in a reference to some access control provider (either Ceramic document as described in this issue), or some other mechanism.

[2020-07-01 20:30] michaelsena commented on #37
@oed I think we should make accessControl an optional meta property (alongside owners, schema, tags, etc) of a document included in the general Doctype specification (both genesis and signed). This would allow users to plug in a reference to some access control provider (either Ceramic document as described [here](https://github.com/ceramicnetwork/CIP/issues/48)), or some other mechanism.

[2020-07-02 12:24] oed commented on #37
@michaelsena `accessControl` seems to specific and unrelated to the functioning of the protocol in general. Maybe it could be introduced in tiles specifically instead? Want to try to keep the general parts of the protocol more minimal.

Making the update to `tags` 👍

[2020-07-06 03:39] michaelsena commented on #37
@oed I've also been thinking about how we might be able to include links to documents one level above the current document. Theoretically there could be many different documents that point to a given document, so this would likely need to be an array.

i.e. Doc A and Doc B both include links to Doc C. I'm a user and query Doc C, but want to traverse back up the directory. I'd want to know the docu

[2020-07-06 04:30] michaelsena commented on #34
This CIP might be deprecated in favor of a general Access Controller document.

[2020-07-06 13:55] michaelsena commented on #16
Closing as we have moved away from this structure for the [Identity Index Protocol (IIP)](https://github.com/ceramicnetwork/CIP/issues/3). Claims will be stored inside collections.

[2020-07-06 13:55] #16 closed

[2020-07-13 21:05] michaelsena opened #50 "String Map"
[code]

## Simple Summary
The **String Map** defines a document that stores mappings from one string to another string.

## Abstract
For many use cases of Ceramic it is desirable to create a document that simply stores a list of mappings from a property to a value where both the property and value are strings.

## Motivation
Such a standard would be helpful in defining a basic schema that many in

[2020-07-13 21:11] michaelsena opened #51 "DocId Map"
[code]

## Simple Summary
The **DocId Map** defines a document that stores mappings from strings to Ceramic DocIds.

## Abstract
For many use cases of Ceramic it is desirable to create a document that simply stores a list of mappings from a property to a value where the property is a string and the value is a Ceramic DocId.

## Motivation
Such a standard would be helpful in defining a basic schema

[2020-07-14 09:43] oed commented on #32
A json-schema for the basic profile could look something like this:
[code]

[2020-07-14 12:05] michaelsena commented on #32
@oed I assume the "title": "affiliation" should be "title": "BasicProfile" , correct?

[2020-07-14 15:35] simonovic86 commented on #38
Updated this according to our discussions and to current implementation.

[2020-07-14 16:14] oed commented on #44
The schema for this is a bit tricky. There is a regex that matches the key and the value of the map:
[code]

[2020-07-14 16:20] oed commented on #38
Thanks @simonovic86! Looks great.
@michaelsena is the next step to just create a PR for this?

[2020-07-14 18:57] michaelsena commented on #21
@oed as discussed, updated this document to reflect the DocId Map schema, instead of the one you mentioned above. Also added the `RootIndex` tag. Mind checking the schemas and details above now? Thx! 🚀

[2020-07-14 20:02] michaelsena commented on #11
Closing this as it's not really needed at this point. Will reopen a new CIP later if we need it.

[2020-07-14 20:02] #11 closed

[2020-07-14 20:46] michaelsena commented on #13
@oed should this be a String Map (CIP-9) or a DocId Map (CIP-10) schema? My thinking is String Map because there might be a scenario where a keychain is controlled by some external service or something? Thoughts?

[2020-07-14 22:05] michaelsena commented on #38
@simonovic86 @oed this is great! Quick question, if we wanted to separate out a commit function as discussed the other day, would we need a new CIP to define that, which would be submitted separately? If so, then let's create a PR -  this looks good to go.

[2020-07-14 23:22] michaelsena commented on #38
We should also add the PR that contains the changes to this CIP in the implementations section.

[2020-07-15 08:26] oed commented on #21
Looks good. I don't think we need the `DocIdMap` tag if schemas are also able to be indexed?

[2020-07-15 13:09] simonovic86 commented on #38
I think not. We can elaborate more about the topic but I think that we are covered with these APIs.

[2020-07-15 13:12] #34 closed

[2020-07-16 08:52] PaulLeCam commented on #32
I think as much as possible these values should match common standards to make them easier to implement, especially across apps that may use different locales, for example:

- `gender` could implement [ISO 5218](https://en.wikipedia.org/wiki/ISO/IEC_5218)
- `nationality` could use [ISO 3166](https://en.wikipedia.org/wiki/ISO_3166) (maybe even be strict about using alpha-2 or alpha-3 variant)
- `bi

[2020-07-16 09:15] oed commented on #32
Great suggestions @PaulLeCam! A few thoughts:

ISO for nationality and birthDate make sense. For gender, the ISO you linked seem to be about *sex* not *gender*. We specifically want to enable people to share their gender here.
`locales` is interesting, but maybe this is more relevant in some other type of *settings* document?

As for the images: yes, we ideally want to do something like that. The

[2020-07-16 09:43] PaulLeCam commented on #32
👍 makes sense, maybe we can still define an enum of value if there is no standard so that developers can know what to read/write?

Yes having a settings document sounds great, it could be very useful both at a root/user level and per-app/service 👍

Yes this kind of tool would be very useful indeed!
I think the issues with not providing these metadata is that apps can have different needs and expec

[2020-07-16 09:58] PaulLeCam commented on #8
For collections of Ceramic documents, it might be useful to support pagination so that apps can load iteratively rather than possibly needing to load and parse a large document for a collection having lots of items.
I like the [ActivityStreams spec for collections](https://www.w3.org/TR/activitystreams-core/#collections), notably the difference between ordered and unordered collections, the fact t

[2020-07-16 12:55] oed commented on #32
People are quite sensitive about their gender. I think a string with length limit is probably the solution that makes the largest amount of ppl happy :)

So documents will specify a version of the schema they are using. This allows apps to know if it's using a version they support. Also, I imagine that `image` for example might change name if we introduce a better format of the image using the abo

[2020-07-16 14:33] PaulLeCam commented on #32
OK I guess it depends on the expectations the users and app developers should have regarding this field then?
If it's a "display only"/free-form text, maybe the app can just display as-is but as it doesn't provide locale information it might be less relevant/used.
On the other side, if the user expects the app to be aware of this field, the app might appear insensitive of the user's preference if

[2020-07-17 00:00] michaelsena commented on #32
Great comments @PaulLeCam, thanks for all the helpful input.

@oed @PaulLeCam How do you imagine naming things like this would work? I agree that changing the name of the property is probably the easiest way I can imagine to signal to developers that the expected value is different (even if the explicit version of the schema is different), however this would over time mean that we would be venturi

[2020-07-17 10:24] PaulLeCam commented on #32
I guess it mostly depends how we handle versioning, should there be a new version of a schema for backwards-compatible changes/additions, or only for breaking changes?
Let's say to improve the `image` field we add an `imageSources` field with an array of object having more metadata about the image type and dimensions.

If we go the backwards-compatible way, the schema would have both `image` and `

[2020-07-21 13:09] oed commented on #37
@michaelsena @simonovic86 I updated the original post once more to reflect the recent changes in the spec.

[2020-07-21 14:29] #27 closed

[2020-07-21 14:34] #28 closed

[2020-07-21 15:50] michaelsena commented on #4
@oed @PaulLeCam it would be great if we could write this CIP to describe the didProvider interface

[2020-07-21 16:41] michaelsena commented on #8
@PaulLeCam I think this is better suited for the [Collection Reference](https://github.com/ceramicnetwork/CIP/issues/10), which actually contains user-specific information about the generic collections described by this document.

[2020-07-21 18:59] michaelsena commented on #24
@oed this schema for the follows list would likely just be an array of DIDs, but I could imagine that being useful for other documents as well. Should we create a new CIP for a `DID Array` Schema, similar to what we did for [DocId Map](https://github.com/ceramicnetwork/CIP/issues/51) and [String Map](https://github.com/ceramicnetwork/CIP/issues/50)?

[2020-07-21 19:02] michaelsena opened #53 "DID Array"
[code]

## Simple Summary
**DID Array** defines the format of a document that stores an array of DIDs.

## Abstract
For many use cases of Ceramic it is desirable to create a document that simply stores a list of DIDs. This could be useful for things like social graphs (follows), user lists, member lists, and more.

## Motivation
Such a standard would be helpful in defining a reusable schema that m

[2020-07-21 22:05] michaelsena commented on #26
@oed I'm thinking the Collections Index should be a schema that stores a list of mappings from DocId to DocId. Should I create a new schema for this, since theoretically that could be useful as a general purpose schema? For this specific purpose it would map Collection Definitions to Collection References.

[2020-07-21 22:22] michaelsena opened #54 "DocId to DocId Map"
[code]

## Simple Summary
**DocId to DocId Map** defines a schema that stores a list of mappings from DocId to DocId.

## Abstract
For many use cases of Ceramic it is desirable to create a document that simply stores a list of mappings from a DocId to another DocId.

## Motivation
Such a standard would be helpful in defining a basic schema that many in the Ceramic ecosystem can use when creating d

[2020-07-21 22:25] michaelsena commented on #54
@oed need your input on schema here

[2020-07-21 23:20] #36 closed

[2020-07-22 06:36] michaelsena opened #55 "Linked Accounts Array"
[code]
## Simple Summary
**Linked Accounts Array** defines the schema for a document that stores a list of a DID's linked accounts.

## Abstract
The Linked Accounts Array is used to build public links between a DID and their various domain names, social accounts, or other DIDs. The accounts contained in this document are not able to authenticate or control the DID, they are merely public associati

[2020-07-23 11:51] oed opened #56 "Doctype: tile"
[code]

## Simple Summary

This CIP describes the `tile` doctype which is a very general document type that has JSON as it's content and is controlled by a [DID](https://w3c.github.io/did-core/).

## Abstract

The `tile` doctype allows DIDs to create simple JSON documents that uses [json-patch](http://jsonpatch.com/) for updating the content of the document. Each Tile is owned by one or multiple D

[2020-07-23 12:01] simonovic86 commented on #56
Looks great! Suggestions:

- `The unique property should include a random number that ensures that there is no other document that is exactly the same.`
Do we need to restrict it to numbers only?
- Should we consider introducing a property `next` with embedded `content` and `metadata` instead of having separate properties `nextContent` and `nextMetadata`?

[2020-07-23 13:25] michaelsena commented on #56
A few questions/comments/thoughts:
- Should tile be capitalized or no? I think it can be capitalized everywhere except when written as code (`tile`) and referenced by name in the header of a new document.
- This isn't a Core CIP, it's just an RFC since specific doctypes are not part of the core protocol.
- Same as Janko re: content and metadata.

[2020-07-23 13:46] michaelsena commented on #9
Deprecated in favor of a new version. See issue content above for a link to the new Tile Doctype specification.

[2020-07-23 13:46] #9 closed

[2020-07-23 16:10] oed commented on #56
Updated to reflect your comments @simonovic86. Also updated https://github.com/ceramicnetwork/CIP/issues/37

Thanks for making all of those edits @michaelsena 🙏

[2020-07-23 16:36] michaelsena commented on #32
@PaulLeCam I updated the properties to the changes you suggested:
- ISO for birthDate
- ISO for nationality
- nationality -> nationalities
- homeLocation -> residenceCity + residenceCountry

Let me know how it looks! 👍

[2020-07-23 16:59] michaelsena commented on #56
@oed Should in the implementations section should we link directly to the ceramic-doctype-tile package in the js-ceramic repo?

[2020-07-23 19:27] PaulLeCam commented on #32
Nice!
Looks good, I'm just wondering about the max size for `nationalities` and `affiliations`, as they are arrays does this refer to the size of one item, or the full array serialized as JSON for example?

[2020-07-23 19:31] michaelsena commented on #32
I was imagining the full array serialized. But open to your direction here.

Also, for Settings Index, a few questions:
- What's the difference between i18n and location? They seem very similar if not the same to me.
- What's the difference between accessibility and appearance? Also seem very similar if not the same.
@PaulLeCam

[2020-07-23 20:07] PaulLeCam commented on #32
I guess it mostly depends why we have these restrictions in the first place, is it to avoid making documents too large?
The thing about arrays needing to be serialized for validation is that I don't know if it's supported by JSON schema validators so it might make the implementation more complex.

Maybe we can come up with better terms, I'm mostly thinking about the different concerns we might wan

[2020-07-23 20:30] michaelsena opened #57 "Settings Index"
[code]

## Simple Summary
**Settings Index** is a document that stores an index of global settings-related documents for a DID.

## Abstract

In an identity-centric model of development, users carry their identity and resources with them across various contexts. Applications then use with these resources to provide service to the user. Portable settings allow interfaces and experiences to be conte

[2020-07-23 20:31] michaelsena commented on #32
@PaulLeCam Let's move this thread to the newly created [Settings Index](https://github.com/ceramicnetwork/CIP/issues/57) 👍

[2020-07-24 06:47] oed commented on #56
Good point @michaelsena I'm hesitant to link that though since we talked about changing the name of the package so the link might break. Adding some additional context instead.

[2020-07-24 09:52] oed commented on #33
I think the schema should look something like this:
[code]
Basically a string to string map. The reason for this is that we want to have each public key maps to a JWE/CWE.

[2020-07-24 14:48] simonovic86 commented on #37
@oed @michaelsena I updated the original post with:
- rename `Next` to `DocNext`

[2020-07-24 14:56] simonovic86 commented on #37
@oed @michaelsena should we update the type of the `schema` to `string`|`object`? By using the `object` type can support nested schemas as well

[2020-07-25 17:20] oed commented on #37
@simonovic86 My worry with doing that is that it will segregate how schemas are defined and also silo them. By enforcing it to live in another Ceramic document devs can easily make use of each others schemas.

[2020-07-25 23:00] simonovic86 commented on #37
@oed good point, makes sense! that will enable versioning as well

[2020-07-27 15:33] Schwartz10 commented on #43
Does email address fit in here? Also, how would email address proofs be "resolved"? Or does this go under https://github.com/ceramicnetwork/CIP/issues/55?

[2020-07-27 17:48] michaelsena commented on #15
Just cleaned up some typos, but looks good. It's a bit dense to comprehend and requires some knowledge of Ceramic to really grok how it works and what the security considerations are, but overall 👍

[2020-07-27 17:57] oed commented on #15
Thanks for making the edits. I think it's fine that it requires some knowledge of Ceramic here.

[2020-07-28 06:28] simonovic86 commented on #51
@michaelsena @oed updated the schema

[2020-07-28 06:59] oed commented on #51
@simonovic86 We should just force it to be a DocId of the form `ceramic://...`. The other format of docId is only needed when representing Ceramic documents in the http client.

[2020-07-28 07:46] simonovic86 commented on #51
@oed I'll remove the `v0` format. Also, we should think about refactoring the HTTP client API.

[2020-07-28 08:17] simonovic86 commented on #55
@michaelsena @oed updated the JSON Schema

[2020-07-28 08:34] oed commented on #33
@michaelsena Made updates to this CIP as discussed. Also added an example.

[2020-07-28 10:46] simonovic86 commented on #54
@oed @michaelsena updated the schema

[2020-07-28 11:12] simonovic86 commented on #32
@oed @michaelsena updated the schema

[2020-07-28 11:18] oed commented on #54
Should we really allow version in the property name? This would allow one to add the same docId as property twice for different versions.

[2020-07-28 11:19] simonovic86 commented on #54
@oed I thought about not allowing that, too. I'll update the schema.

[2020-07-28 11:36] simonovic86 commented on #53
@oed @michaelsena updated the schema

[2020-07-28 11:38] oed commented on #53
@simonovic86 we should only allow `did:*` not `DID:*`.

[2020-07-28 11:41] simonovic86 commented on #53
@oed tnx, updated 👍

[2020-07-28 11:51] oed commented on #53
Great, ty :)

[2020-07-28 12:02] oed commented on #14
Should `crypto` be renamed `caip10`?

[2020-07-28 12:26] simonovic86 commented on #10
@oed @michaelsena updated the schema

[2020-07-28 12:42] simonovic86 commented on #42
@oed @michaelsena updated the schema

[2020-07-28 12:46] simonovic86 commented on #41
@oed @michaelsena updated the schema

[2020-07-28 12:53] simonovic86 commented on #30
@oed @michaelsena updated the schema

[2020-07-28 13:41] Schwartz10 commented on #10
How does the `applications` block relate to the [access-control](https://github.com/ceramicnetwork/CIP/issues/48) doctype? How do they interact with one another? How is this access control enforced?

[2020-07-28 13:55] oed commented on #10
@Schwartz10 yeah I think that's a resonable approach. We've thought about storing symmetric encryption keys within a separate document, encrypted to the public key of the DID. Each symmetric key is then used to encrypt an entry in the collection reference here.

[2020-07-28 22:16] sylar217 commented on #32
In general, is there a way that users can backup their profile information using verifiable claims stored in collections index? Even social profiles like tweet/github/etc.. handles can be backed up with claims. Any thoughts?

[2020-07-29 06:56] oed commented on #32
For sure @sylar217 That's entirely possible and I imagine you have much more information about you're profile which you might not want to share publicly on a decentralized network. So the Collections Index could point to some hosted resource which you control access over with your DID.

[2020-07-29 07:09] sylar217 commented on #32
I was looking for something like a `claims` property in profiles which would contain an array of ceramic document IDs, provided i want to disclose those claims. Something like I link my tweet handle with DID, and have a claims document for the same.

[2020-07-29 19:35] michaelsena commented on #55
@smcki012 with this schema we're trying to generalize how an ID can be represented across various contexts. Would be helpful if you could check the Handshake example above and see if it makes sense 👌 🙏 .

[2020-07-29 20:42] smcki012 commented on #55
At first glance here everything looks straight-forward. HNS is a root anchor and its custom built "Urkel" base-2 radix trie allows for 512 bytes of storage for your on-chain reference. The resource guide for acceptable on-chain records can be found here https://hsd-dev.org/guides/resource-records.html

Storing the contextual JSON info you need in the TXT-record is definitely a great way to bridge

[2020-07-30 09:53] simonovic86 commented on #37
@oed @michaelsena updated `DocMetadata` with `isUnique` property.

[2020-07-30 12:17] michaelsena commented on #55
Thanks @smcki012 👌 that's helpful! What's the easiest way to lookup a txt record in Handshake?

[2020-07-30 12:32] smcki012 commented on #55
HSD bundles a recursive resolver. When you run it locally you can query it like 'dig MichaelSena txt +short'; indexer would just store all those records for simpler lookups. See also this WIP: https://github.com/handshake-org/hsd/pull/280

[2020-07-31 11:09] PaulLeCam commented on #4
## Abstract

TODO

## Motivation

TODO

## Specification

DID providers must support receiving request and sending responses according to the [JSON-RPC 2.0 specification](https://www.jsonrpc.org/specification) and create [JSON Web Signatures (JWS)](https://tools.ietf.org/html/rfc7515).

The following JSON-RPC methods must be implemented:

### did_authenticate

**Parameters:** none.

**Expected beh

[2020-07-31 15:42] PaulLeCam commented on #4
@oed I used the error codes from https://eips.ethereum.org/EIPS/eip-1193 as I think they're a good match here, any preference or other reference I should use instead please?

[2020-08-03 11:47] oed commented on #4
@PaulLeCam Thats a great addition. Can you suggest that in the EIP I created?

[2020-08-03 12:12] PaulLeCam commented on #4
Sure, I think most of the contents of this CIP should refer to your EIP anyways so better specify as much as possible in it 👍

[2020-08-05 21:02] gvelez-postmates commented on #12
I think 'work' 'education' 'gaming' should be considered 'tags' and any tag be allowed?  Most of my stuff doesn't fit into any of those three categories...

[2020-08-12 12:23] oed opened #59 "DocID encoding"
[code]

## Simple Summary
Specification for how to encode a Document Id (DocID)

## Abstract
A DocID is composed of a docid-multicodec, a namespace varint, and a CID.

## Motivation
A specific encoding for DocIDs allows us to distinguish them unambiguously.

## Specification
DocIDs are defined as:

[code]

Where

- `<multibase-prefix>` is a [multibase](https://github.com/multiformats/multibase) co

[2020-08-12 12:41] michaelsena commented on #59
@oed This looks great, and very useful especially as we have more than one network. On that note, is `namespace` a standard in multiformats, or something we created. If it's something we created, then perhaps `networkID` is more clear? Unless you see a use case for this where the namespace will not equal a networkID.

[2020-08-12 12:43] oed commented on #59
@michaelsena Its different from multiformats. I think `namespace` is more clear since `networkID` is usually (in ethereum) used to refer to the peer network itself. Where as this is actually more of a namespace for documents.

[2020-08-12 13:16] ukstv commented on #59
To clarify, which `base32` is used here? Also, padding?

[2020-08-12 13:20] oed commented on #59
@ukstv See here: https://github.com/multiformats/multibase (updated spec with link)

[2020-08-12 19:23] ericelliott commented on #3
Questions (links to docs with answers would be great!):

* How do we address privacy? Are there practices we can recommend to ensure compliance with GDPR, CCPA and so on? Can protocols relying on IDX automatically enforce compliance to make app development easier?
* Am I misunderstanding the structure? Is it a hierarchical directory or a loosely connected graph? Open-ended hierarchical directories

[2020-08-14 17:55] OR13 commented on #59
can i get a link to the format of the complete bytes for the resource identified by `genesis-cid-bytes`?

[2020-08-14 19:00] oed commented on #59
You can have a look in the [Ceramic specs](https://github.com/ceramicnetwork/specs#document-records) @OR13
Note however that different doctypes might encode this using various ipld codecs. For example, `tile` uses `dag-jose`, while `3id` and `caip10-link` just uses `dag-cbor`.

[2020-08-24 09:22] oed commented on #3
Thanks for you comment @ericelliott!

With regards to privacy, there are a few ways this is be addressed. The most straight forward one is just encrypting the content of any given Ceramic document. This ensures that the content remains private, however metadata about how much and when the document was updated will remain public. A more complete solution would be to implement encryption inside of t

[2020-09-06 19:36] sylar217 opened #60 "Verifiable Credentials Doctype"
---
cip:
title: Verifiable Credential Doctype
author: Anmol Agarwala (@sylar217)
status: Idea
category: Standards
type: RFC
created: 2020-08-31
requires: Doctypes (CIP-5)
---

## Simple Summary

This CIP describes the `Verifiable Credential` doctype, which contains signed claims, subject and issuer that can be presented and verified as ceramic documents.

## Abstract

The `Verifiable Credential` d

[2020-09-11 10:25] PaulLeCam commented on #26
@michaelsena I think we can drop this spec as we're using a different setup now.

[2020-09-20 15:23] vongohren commented on #3
Does this relate to any of the standards building at DIF, such as Secure Data store, Identity Hub? Has this been played in there to hear the thoughts of that community?

[2020-09-23 09:14] oed commented on #60
Cool, this seems like a good start for supporting credentials and revocation on Ceramic! Sorry for not getting to this sooner @sylar217!
Few questions:
1. Why does this have to be it's own doctype? It seems like it could just use `tile` since we're only storing the json data of a VC?
2. You mention that JWT would not work. Why couldn't both the json-ld and the jwt represetnations of VCs be support

[2020-09-23 12:33] oed commented on #59
Updated the specs and created a PR: https://github.com/ceramicnetwork/CIP/pull/61

[2020-09-24 09:00] oed commented on #6
Closing this as the 3ID doctype is being consolidated with the Tile doctype.

[2020-09-24 09:00] #6 closed

[2020-09-24 11:47] oed commented on #50
Closing, stale.

[2020-09-24 11:47] #50 closed

[2020-09-24 11:48] oed commented on #51
Closing, stale

[2020-09-24 11:48] #51 closed

[2020-09-24 11:50] oed commented on #23
Closing, stale.

[2020-09-24 11:50] #23 closed

[2020-09-24 11:51] oed commented on #18
Closing , stale.

[2020-09-24 11:51] #18 closed

[2020-09-24 11:53] oed commented on #2
Closing, if desired this should be an issue on the js-ceramic repo.

[2020-09-24 11:53] #2 closed

[2020-09-24 11:54] oed commented on #4
Replaced by: https://eips.ethereum.org/EIPS/eip-2844, closing.

[2020-09-24 11:54] #4 closed

[2020-09-24 11:59] oed commented on #8
Closing, stale.

[2020-09-24 11:59] #8 closed

[2020-09-24 11:59] oed commented on #10
Closing, stale.

[2020-09-24 11:59] #10 closed

[2020-09-28 12:21] oed commented on #54
Stale, closing.

[2020-09-28 12:21] #54 closed

[2020-09-28 12:24] oed commented on #3
Hey @vongohren We've presented Ceramic and IDX to both DIF and the Credentials community. There is definitely a lot of synergies between IDX and SDS and other emerging standards!

Just updated the first post with the simplified spec!

[2020-09-28 12:30] oed commented on #57
Stale, closing.

[2020-09-28 12:30] #57 closed

[2020-09-28 12:33] oed commented on #19
Stale, closing.

[2020-09-28 12:33] #19 closed

[2020-09-28 12:33] oed commented on #26
Stale, closing.

[2020-09-28 12:33] #26 closed

[2020-09-28 12:33] oed commented on #13
Stale, closing.

[2020-09-28 12:33] #13 closed

[2020-09-28 12:34] oed commented on #14
Stale, closing.

[2020-09-28 12:34] #14 closed

[2020-09-28 12:34] oed commented on #21
Stale, closing.

[2020-09-28 12:34] #21 closed

[2020-09-28 12:34] oed commented on #12
Stale, closing.

[2020-09-28 12:34] #12 closed

[2020-09-28 12:39] oed commented on #17
Stale, closing.

[2020-09-28 12:39] #17 closed

[2020-09-28 21:13] sylar217 commented on #60
@oed thanks for reviewing this. My thoughts on the questions would be:
1. Yes, even I think we can use the `tile` doctype itself, but one doubt I had was regarding signing of the claims. How would we support different signing methods which provide advanced functionality like ZK-proofs, etc. The proofs requirement for a VC could also require it be signed by multiple issuers. So in this case, should

[2020-09-29 13:23] oed commented on #53
Stale, closing.

[2020-09-29 13:23] #53 closed

[2020-10-12 10:22] oed commented on #60
1. I guess that depends a lot on the use case for the credential? I don't know enough about all of the different scenarios to give a comprehensive answer.
2. Yep, that makes sense.
3. I mean if you want to store the claim privately you may only want to have the hash of the claim in the document for privacy reasons?
4. Makes sense to use that 👍

[2020-10-12 12:14] oed commented on #38
Outdated, closing.
Please refer to the ceramic documentation: https://ceramicnetwork.github.io/js-ceramic/api/

[2020-10-12 12:14] #38 closed

[2020-11-02 10:14] oed commented on #59
@zachferland can you please make a PR to update the DocID spec based on the changes that ended up in the implementation?

[2020-11-02 12:27] oed opened #69 "Batched Anchor Data Structure"
[code]

## Simple Summary
This CIP describes the data structure of a blockchain anchor that batches multiple document updates together.

## Abstract
An anchor service accepts document update anchor request from clients and batches them together in a single merkle tree, which is then anchored into a specific blockchain. The anchor service also sorts all of the requests and creates a bloom filter wh

[2020-11-02 19:05] stbrody commented on #69
@oed, can you elaborate on what exactly your question is about building the merkle tree when there are different numbers of leaf nodes?

Beyond that, I'd like to see a bit more about what exactly the entries in the bloom filter look like/how they are built.  Your code example actually has that part commented out and unspecified.  Are you imagining that the tags, schema, controllers, and docId all

[2020-11-03 07:59] oed commented on #69
Basically if the number of nodes is not a power of 2 then the tree will not be symmetrical. We should however always form the tree in a deterministic way, so which algorithm should we use for that? cc @simonovic86

It's an array of strings, updating the first post. Each document will create multiple entries in the filter.

Good point! We need a way to distinguish between DocIDs and Schema-DocIDs a

[2020-11-03 15:19] simonovic86 commented on #69
@oed @stbrody we already cover the case of odd number of leaves. This is the standard way of constructing merkle trees if I'm not mistaken. Here's the test case: [link](https://github.com/ceramicnetwork/ceramic-anchor-service/blob/4615c814ed98bb17cba8902480d8f22bde5397a1/src/merkle/__tests__/merkle-layers.test.ts#L70).

[2020-11-03 19:49] stbrody commented on #69
Yeah, the algorithm for building a balanced binary search tree is pretty standard and straightforward (I used to ask it as an interview question :P), I believe the only part of it that could be different implementation by implementation is when you have an even number of nodes whether you take the rightmost node in the left half as the root, or the leftmost node of the right half.  Example code [h

[2020-11-06 13:54] oed opened #72 "Discussion: MultiQueries"
Discussion for CIP-71
See PR for latest spec: #71

[2020-11-12 14:13] oed commented on #69
Created a PR for this CIP, updated the spec and made this into the discussion thread. See #74
Note that this introduces the `topic` property in the metadata of documents, which is currently not implemented anywhere. Some work remains to add this in various places.

[2020-11-15 12:41] oed opened #75 "DHT Document Lookup"
[code]

## Simple Summary
Use the IPFS DHT to do better lookups for documents.

## Abstract
By utilizing the IPFS DHT a system can be built that allows a peer to find all other peers that currently have a given document open. This is achieved by each node telling the network which documents that they provide. Other nodes can query the DHT an find peers that can give them the latest state of the do

[2021-02-10 08:46] anthonygraignic commented on #43
Hi,
Are Social Account Links just links to social platforms that were verified once by the user or should it be considered as Verified Social Accounts with renewal of verification depending on platform in a more OAuth2 way?

[2021-02-10 09:04] oed commented on #43
Hey @anthonygraignic this CIP has been replaced by [CIP-23](https://github.com/ceramicnetwork/CIP/issues/55).
To answer your question, the verifiable credential will contain a timestamp of when it was issued. It's up to the consumer of this VC to decide if they want to trust it or now. The consumer also has to decide if they trust the issuer or not.

[2021-02-10 09:04] #43 closed

[2021-02-12 14:46] oed opened #80 "Discussion: 3ID DID Method Specification"
Discussion for CIP-79

[2021-02-15 16:18] PaulLeCam opened #81 "Ceramic Doc reference"
[code]

## Simple Summary

Provide a standard way to define a reference to a Ceramic document in a JSON schema.

## Abstract

This CIP defines a standard way to add a reference to an existing Ceramic document in a JSON schema, allowing for static discovery of such references.

## Motivation

It is sometimes necessary to reference Ceramic documents from other documents, such as a list containing th

[2021-02-15 17:06] PaulLeCam opened #82 "Ceramic Schema reference"
[code]

## Simple Summary

Provide a static way to define that Ceramic documents referenced in a schema must use a specified schema or set of schemas.

## Abstract

This CIP defines a standard way to add references to existing JSON schemas, so it is possible to access this information about Ceramic documents at build time rather than only at runtime on created documents.

## Motivation

IDX defini

[2021-02-15 17:39] oed commented on #81
Why does this need to be an object with an `id` property? Seems like it will make UX of the multiquery system worse by requiring the user to know if the path they are specifying includes a DocID or not, i.e. `/path/though/my/other/docs` vs `/path/id/though/my/id/other/id/docs`.

[2021-02-15 17:58] PaulLeCam commented on #81
I mostly extracted this logic from https://github.com/ceramicnetwork/CIP/issues/82 with the idea there would more properties and only having the `id` property here is the exception rather than the rule.
I agree though that using `{ type: 'string', $id: 'ceramic://doc', maxLength: 150 }` directly would be simpler for such cases, shall we change the spec to this?

[2021-02-15 18:42] oed commented on #81
I think that would makes sense yeah. Still need to dig through your other CIP!

[2021-02-16 08:59] PaulLeCam commented on #81
@oed edited as suggested 👍

[2021-02-16 09:51] PaulLeCam commented on #81
Folded into https://github.com/ceramicnetwork/CIP/issues/82

[2021-02-16 09:51] #81 closed

[2021-02-16 11:15] oed commented on #82
This seems pretty great!

A few questions:

Maybe naming the CIP **DocID json-schema definition** or something similar that inlcudes *json-schmea* would be more clear?

Why would we want to include multiple schemas in one reference? Would it not be better to have multiple definitions for each schema to decrease ambiguity?

I think the example would be more clear if you used a named definition!

[2021-02-16 11:35] PaulLeCam commented on #82
Thanks!

Yes good idea 👍

At build time it's used to identify possible schemas the document could use, but it's not necessarily restricted to a single one.
For example we can have a  media feed document that has items that can be of different types (image, audio or video) so at built time we can discover that we need to be aware of the image, audio and video schemas, but at runtime the loaded docu

[2021-02-16 12:40] oed commented on #82
Like so:
[code]

I think this makes it a bit clearer for someone who is trying to understand what this is :)

[2021-02-16 14:12] PaulLeCam commented on #82
I don't think it makes much sense to use the `definitions` here because using `$ceramicSchema` makes the field specific to a given schema rather than generic to any document, so in this case this would be simpler:

[code]

[2021-02-16 14:22] oed commented on #82
Yeah, that's simpler. I more meant that it would be easier to understand for someone reading this CIP because it clearly separates what is part of the DocID reference.

[2021-02-16 14:52] PaulLeCam commented on #82
I see, thanks! I updated the example.

[2021-02-16 15:42] oed commented on #82
`'<Note schema docID>'` should be `'<Note schema commitID>'` right?

[2021-02-17 09:00] PaulLeCam commented on #82
I should accept either, maybe we can name it `docRef` then as per Sergey's PR?

[2021-02-17 09:02] oed commented on #82
Schemas always have to be a CommitID afaik.

[2021-02-26 11:49] oed commented on #82
@PaulLeCam Any blockers for making a PR for this CIP?

[2021-02-26 16:26] PaulLeCam commented on #82
No blocker, I opened a PR for it that references this issue for discussions: https://github.com/ceramicnetwork/CIP/pull/86

[2021-02-28 13:08] oed commented on #82
I'm seeing an issue if I have multiple docids in the same schema:
[code]

At https://www.jsonschemavalidator.net/ I see this error:

<img width="451" alt="image" src="https://user-images.githubusercontent.com/3909429/109419570-6afb2580-79ce-11eb-9319-fb27d5ac2325.png">

[2021-02-28 14:05] oed opened #87 "cip: Conviction Voting Template"
[code]

## Simple Summary
This CIP describes a template that can be used to create off-chain conviction voting dapps.

## Abstract

Abstract goes here.

## Motivation

Fix me :)

## Specification

### Definition content

**Deployment:** Deploy your own.
[code]

### Proposal Schema
**Deployment:** `<proposal-schema-docid>`

[code]

### Convictions Schema
**Deployment:** `<convictions-schema-docid>`

[2021-03-01 09:49] PaulLeCam commented on #82
Seems like we can't use `$id` as I intended then, thanks for reporting this, I'll look for alternative options.

[2021-03-01 11:03] PaulLeCam opened #88 "CIP: Ceramic namespace in JSON schemas"
---
cip: <to be assigned>
title: Ceramic namespace in JSON schemas
author: Paul Le Cam (@PaulLeCam)
status: Draft
category: Standards
type: RFC
created: 2021-03-01
---

## Simple Summary

Define a standard extension point for Ceramic-specific metadata in a JSON schema.

## Abstract

This CIP defines a reserved namespace for Ceramic-specific metadata in a JSON schema, along with a reference table f

[2021-03-01 11:21] PaulLeCam commented on #82
@oed I created https://github.com/ceramicnetwork/CIP/issues/88 and opened a PR to update CIP-82 with these changes in https://github.com/ceramicnetwork/CIP/pull/89, I think that would nicely work around this issue.

[2021-03-01 13:48] PaulLeCam opened #90 "Discussion: AppendCollection schemas"
Discussion for [CIP-85](https://github.com/ceramicnetwork/CIP/blob/main/CIPs/CIP-85/CIP-85.md)

[2021-03-02 17:36] GriffGreen commented on #87
Check out the thoughts here, and in the other issues... lots of good debates around UX

https://github.com/1Hive/conviction-voting-app/issues/52

[2021-03-02 18:22] oed commented on #87
Awesome that you are pushing the UX work needed to make CV usable @GriffGreen 🙌

This CIP is mostly aimed at creating a solid data data layer for CV. If we manage to do this there could potentially be multiple different frontends that display the CV data in different ways based on preference / usability considerations.

[2021-03-04 14:35] michaelsena opened #92 "CIP: Sybil Passport Definition"
---
cip: <to be assigned>
title: Sybil Passport
author: Michael Sena, Kevin Owocki, Joel Thorstensson
discussions-to:
status: Idea
category: Standards
type: RFC
created: 2021-03-04
requires:
replaces:
---

## Simple Summary
Sybil passport definition defines an IDX record that stores a list of verifiable claims that represent anti-sybil scores for a DID.

## Abstract
TODO.

## Motivation
Web3 has a

[2021-03-08 13:49] oed opened #95 "NFT DID Method specification"
Discussion for [CIP-94](https://github.com/ceramicnetwork/CIP/blob/main/CIPs/CIP-94/CIP-94.md)

[2021-03-08 21:03] codynhat commented on #95
This is awesome. What other components are needed to enable an NFT to own and control a Ceramic doc? A DID provider?

[2021-03-09 18:36] codynhat commented on #95
Ah ok. I've been trying to figure out the difference between a provider and resolver. Is this right?

DID Resolver -> General DID standard for resolving a DID document from a DID
DID Provider -> Basically [EIP-2844](https://eips.ethereum.org/EIPS/eip-2844)? So something that allows a DID to authenticate, sign, and decrypt?

So if a NFT DID resolver existed we could go from a `did:nft` -> DID docum

[2021-03-09 18:43] oed commented on #95
Yes exactly @codynhat 👍

[2021-03-21 17:41] oed commented on #95
@codynhat Hacked together a quick prototype of the resolver.
https://github.com/ceramicnetwork/nft-did-resolver

Feel free to contribute! Will likely pick it back up when I have more free time, but don't think I'll get much longer today :)

[2021-03-22 23:15] codynhat commented on #95
Awesome! I'll take a look.

[2021-04-26 14:53] rmeissner opened #101 "Safe DID Method Specification"
cip: xx
title: Safe DID Method Specification
author: Richard Meissner (@rmeissner), Joel Thorstensson (@oed)
discussions-to: <https://github.com/ceramicnetwork/CIP/issues/xx>
status: Draft
category: Standards
type: RFC
created: 2021-04-26

## Simple Summary

TBD

## Motivation

TBD

## Specification
The Safe DID Method converts any instance of the [Gnosis Safe](https://gnosis-safe.io/) smart contr

[2021-05-04 18:46] stbrody opened #103 "Update did:nft and did:safe specs to explain how to set Caip10Link, and the benefits of doing so"
https://github.com/ceramicnetwork/CIP/blob/main/CIPs/CIP-94/CIP-94.md and https://github.com/ceramicnetwork/CIP/blob/main/CIPs/CIP-101/CIP-101.md both have whole sections on how to read the Caip10Link from Ceramic to set the `controller` property of the resulting DID document, but doesn't have any information on how, when, or **why** to *set* the Caip10Link.

[2021-06-27 12:20] oed opened #105 "StreamType: DIDPublish"
[code]

## Simple Summary

DIDPublish is a powerful StreamType which enables a DID to publish any structured content to a global decentralized context.

## Abstract

The DIDPublish stream type makes it possible for a DID to publish any structured content which can be represented by a single [CID](https://github.com/multiformats/cid). The stream itself is ephemeral, i.e. the commit log is not persi

[2021-08-09 21:55] topocount commented on #87
@oed what do you think about adding a `blockNumber` or `blockHeight` parameter to the root of the state document? I think it'd be a great way to make all the data in state completely verifiable, since one could then verify all the other data at the prescribed block height.
[code]

[2021-08-10 09:55] oed commented on #87
@topocount Yeah, that's a good addition. You could a rough idea of when the snapshot was made from the subsequent anchor commit, but it wouldn't be precise. Updating the first post!

[2021-08-10 18:31] stbrody commented on #87
@oed Could this cause any issues like we've been seeing with the blockNumber in anchor commits, where it could diverge from the on-chain state if there's a block reorg?

[2021-08-11 07:57] oed commented on #87
@stbrody no this is more about when the conviction computation service sampled the data from the blockchain. Which is mostly independent from anchor commits.

[2021-10-12 20:26] stbrody commented on #75
We might not need to do this.  At the cost of some extra bandwidth, we could have a period of time where we simply use both query protocols simultaneously and consider any tips found via either lookup approach.  Eventually we could start logging warnings if the pubsub lookup is finding better tips than the libp2p lookup.  Once no one is seeing those warnings anymore we can do a release that turns

[2021-10-14 17:13] ukstv opened #110 "CIP-110 Ceramic Anchor Contract"
[code]

## Simple Summary

We can open other anchor service operators to participate in Ceramic anchoring using an allowlist as a smart contract on Ethereum blockchain.

## Abstract

This improvement proposal presents a Ceramic Anchor Contract. It is a novel way to make anchors on Ethereum network.

## Motivation

As of today, anchoring on Ceramic is done independently by each Ceramic Anchor Servi

[2021-11-18 21:30] stbrody opened #113 "CIP-XXX MutableList StreamType"
cip: <to be assigned>
title: MutableList StreamType
author: Spencer T Brody (@stbrody), Mohsin Zaidi (@smrz2001), Sergey Ukustov (@ukstv), Joel Thorstensson (@oed)
status: Idea
category: Standards
type: RFC
created: 2021-11-18

## Simple Summary
Introduces a new StreamType, `MutableList`, that can store an ever-growing list of items, and provides logarithmic access and iteration for most common ac

[2022-01-08 18:04] stbrody commented on #90
This CIP, if it were implemented and became widely used, would be dangerous to the overall health of the network.  Since each entry in the collection is its own stream, this implementation would lead to lots of stream lookups, which could adversely affect the scalability of the network.  As such, it would be preferable to have a solution for large lists built into a single StreamType so that the a

[2022-02-08 19:44] stbrody commented on #105
what does `code` in the GenesisCommit represent?

[2022-02-09 08:46] oed commented on #105
It is meant to represent the concept of "stream code" basically the state transition logic of a stream. For now it's not used in DID Publish.

[2022-02-10 13:19] RobertOttSWITCH commented on #95
Oh, perfect, I didn't get that in the first place, thanks.

[2022-03-15 07:40] Diiaablo95 commented on #95
Is there any plan for the specification and implementations to support Polkadot/Kusama + parachains NFTs?

[2022-03-22 14:04] oed opened #117 "CIP: EventStream"
[code]

## Simple Summary

This CIP describes the Tile document which is a very general stream type that represents and event stream, where events are emitted by a  [DID](https://w3c.github.io/did-core/).

## Abstract

The EventStream allows DIDs to create a stream of events that are ordered. This stream type doesn't have the notion of a state object in the same way that a TileDocument does. Inste

[2022-04-01 10:04] carlbarrdahl commented on #87
Currently there is a `beneficiary` and `amount` which indicates there is a transfer function call to a contract from the Oracle.
Why not use an array of actions for all the contract methods to be triggered if the proposal succeeds?
[code]

[2022-05-28 15:03] Amirjab21 commented on #95
Can smart contracts that currently own NFTs also update the data stream or does it only work with user wallets?

[2022-06-01 11:49] qbig commented on #95
@oed I think you can.
1. with the unique mint account for each NFT, you can find out all its token accounts(at any point of time, only one of them has quantity 1, the current owner)
2. all accounts are mostly created when they receive that NFT for the first time. So we we could assume each owner only buy the same NFT once, it would be easy to figure out who owned it at a past moment by just sort t

[2022-06-10 11:37] qbig commented on #95
@oed could you share why " owner of an NFT at a past moment in time" is important?

[2022-06-17 09:57] oed commented on #95
@qbig In order to validate historical commits that are signed by previous owners of the NFT we need to be able to resolve this owner. Otherwise the event log would be invalidated every time the NFT changes owner, meaning that all data would be lost.

[2022-06-20 04:46] qbig commented on #95
@oed argh I see. So it's not just the current owner, but past owners of every commits in the past that are required.
To obtain the info for Solana, we need to grab every past transfers https://github.com/solana-labs/solana/blob/edefaa437f136479774e556f4d429d653198a0b1/explorer/src/components/account/history/TokenTransfersCard.tsx#L248